<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <p><a href="https://ac-market.fr/">AC MARKET <b>©</b> 2020</a></p>
            </div>
        </div>
    </div>
</footer>